<!DOCTYPE html>
<html>
    <head>
        <title>NÃO É ESSE</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Blog do Silvinha</h1>
        </header>

        <article>
            <time>published: 24.002.2023, 18:14</time>
            <h2><a href="">Baker é uma merda</a></h2>
            <p>Marcela fica empurrando pq é da prima dela</p>
        </article>

        <article>
            <time>published: 24.002.2023, 18:14</time>
            <h2><a href="">Recanto topster e topzera</a></h2>
            <p>Tudo bem não ser lá, mas não quero ir pra bar de influencer alterna e mijar em banheiro sujo.</p>
        </article>
    </body>
</html>